<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Ошибка')}"></head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<div class="container">
    <div class="alert alert-danger" th:text="${error} ?: 'Произошла ошибка'">Произошла ошибка</div>
    <a class="btn btn-primary" th:href="@{/}">← На главную</a>
</div>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
